<div class="center hero-unit">
  <h1>Bienvenue dans l'application Tok IA</h1>

  <h2>
  Application pour faire combattre des IA de Tok
 </h2>

  <% unless signed_in? %>
    <%= link_to "Créer un compte", signup_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

