<% provide(:title, @user.name) %>
<div class="row">
  <div>
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
</div>

  
<h3>Liste des IA de cet utilisateur :</h3>


  <%= render @ais %>



</div>
