<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>



  <p>Liste des parties du joueur :</p>
  <li>

  <ul class="matches">
    <% if @ai != nil %>
    <%= render @ai.matches %>
    <% end %>
  </ul>

  </li>
</div>
