<% provide(:title, 'Tok Live') %>

<h3>Partie n°<%= @game.id %></h3>

<%= render @game %>

<div id="partieFinie"></div>

<p>
<label for="chkPause">Pause</label>
<input type="checkbox" value="Pause" id="chkPause"  onchange="fpause()"/> | 
<label for="radioCpCp">Coup par coup</label>
<input type="radio" value="CpCp" id="radioCpCp" name="radioAvancement" onchange="coupParCoup = true"></input>
<label for="radioVreelle">Vitesse réelle</label>
<input type="radio" value="Vreelle" id="radioVreelle" name="radioAvancement" onchange="coupParCoup = false" checked="true"></input>
</p>

<p>

<input type="button" value="Prev" id="btnPrev"  onclick="plateau.prev();"/> 
<span id='courante'></span>/<span id='total'></span>  
<input type="button" value="Next" id="btnNext"  onclick="plateau.next();"/> 
<input type="button" onclick="plateau.gotoLast();" value="Rattraper le live"/>
</p>

<input id="log" type="hidden" value=""></input>

<div id="move"></div>

<div id="board"></div>
  
  
<script>
  
  var pause = false;
  var coupParCoup = false;
  var stopUpdate = false;


  function leftArrowPressed() {
    plateau.prev();
  }

  function rightArrowPressed() {
    plateau.next();
  }
  function upArrowPressed() {
    for(var i=0; i<10; i++) {
      plateau.prev();
    }
  }
  function downArrowPressed() {
    for(var i=0; i<10; i++) {
      plateau.next();
    }
  }

  
  document.onkeydown = function(evt) {
    evt = evt || window.event; /* There are four evt.keyCodes: 37 --> left; 38 --> up; 39 --> right;  40 --> down. */
    switch (evt.keyCode) {
      case 37:
      leftArrowPressed();
      break;
      case 39:
      rightArrowPressed();
      break;
      case 38:
      upArrowPressed();
      break;
      case 40:
      downArrowPressed();
      break;
    }
  };

  fpause = function () {
    pause = !pause;
    $("#btnPause").attr("value", pause? "Reprendre": "Pause");
    console.log("pause : " + pause);
  };


  $(function() {
    console.log( 'ready!' );

    log;
    $.ajax({
      //url: "game",
      url: "../../../engine/log/0",
      dataType: "text",
      cache: false,
      success: function(data) {
        log = new Log(data);
        plateau = new Board(log);
        plateau.init();
        console.log("ok");
        plateau.gotoLast();
        nbLignes = 1;
        if (data != "") {
          nbLignes = data.split("\n").length - 1
        }
        var i = nbLignes;

        (function 
          update() {
          // aller chercher les logs à la ligne max
          // mettre à jour le log
          var url = "../../../engine/log/" + (i);
          $.ajax({
            url: url,
            dataType: "text",
            cache: false,
            success: function(data) {
              console.log("success " + url);
              log.update(data);
              nbLignes = 0;
              if (data != "") {
                nbLignes = data.split("\n").length- 1
              }
              i = i + nbLignes
              if (!pause) {
                if (coupParCoup) {
                  plateau.next();
                } else {
                  plateau.gotoLast();
                }
              }
              if (!stopUpdate) {
                setTimeout(update, 1500);
              }
            }
          });
        })();
      }
    });    
  });


  (function updateUrl() {
    // aller chercher l'identifiant de la partie en cours
    var url = "../../../engine/live";
    $.ajax({
      url: url,
      dataType: "text",
      cache: false,
      success: function(data) {
        console.log("success live " + url);
        if (data == "") {
          // écrire que le match est fini ; en attente de démarrage d'un nouveau
          // et stopper l'update
          console.log("La partie est finie");
          stopUpdate = true;
          $("#partieFinie").html("La partie est finie. En attente du démarrage automatique du prochain match...")
        } else if (data != <%= @game.id %>) {
          // c'est donc une nouvelle partie : go go go
          console.log("go to partie #" + data);
          window.location = "../" + data + "/live"
        } // sinon rien : c'est la partie actuelle
        setTimeout(updateUrl, 5000);
      }
    });
  })();

  
</script>



