<% provide(:title, 'Tok Replay') %>


<%= render @game %>


<span id='courante'></span>/<span id='total'></span>  

<input id="log" type="hidden" value=""></input>

<div id="move"></div>

<div id="board"></div>
  
  
<script>


  $(function() {
    console.log( 'ready!' );

    log;
    $.ajax({
      //url: "game",
      url: "../../../engine/live/0",
      dataType: "text",
      cache: false,
      success: function(data) {
        log = new Log(data);
        plateau = new Board(log);
        plateau.init();
        console.log("ok");
        plateau.gotoLast();
        nbLignes = 1;
        if (data != "") {
          nbLignes = data.split("\n").length - 1
        }
        var i = nbLignes;

        (function 
          update() {
          // aller chercher les logs à la ligne max
          // mettre à jour le log
          var url = "../../../engine/live/" + (i);
          $.ajax({
            url: url,
            dataType: "text",
            cache: false,
            success: function(data) {
              console.log("success " + url);
              log.update(data);
              nbLignes = 0;
              if (data != "") {
                nbLignes = data.split("\n").length- 1
              }
              i = i + nbLignes
              //plateau.next();
              plateau.gotoLast();
              setTimeout(update, 1500);



            }

          });
        })();


      }
    });

    
  });

  
</script>



