<li class="match">
  <p>
  <span class="<% if match.ai_1==match.winner %>winner<% end %> <% if match.ai_1.user==current_user %>self<% end %>"><%= match.ai_1.name %></span>
  contre 
  <span class="<% if match.ai_2==match.winner %>winner<% end %> <% if match.ai_2.user==current_user %>self<% end %>"><%= match.ai_2.name %></span>
  |
  <%= match.created_at %> 
  </p>
  <p>
  <ul>
    <%= render match.games.reverse %>
  </ul>
  
  </p>


</li>
