<% provide(:title, "Liste des derniers matches") %>
<div class="row">
  <div>
    <section>
    <section>
      <h3>
        Liste des derniers matches    
      </h3>
      Cette page présente la liste de tous les matches, ordonnés par date décroissante.
    </section>
</div>

    
<%= will_paginate @matches %>
<%= render @matches %>
<%= will_paginate @matches %>

</div>
