<% provide(:title, 'Tok Replay') %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      </h1>
    </section>
  </aside>


    <a onclick='prev()' href='#'>prev</a>  <span id='courante'></span>/<span id='total'></span>  <a onclick='next()' href='#'>next</a>

  <li>

  <ul class="matches">
    <% #= render @matches %>
  </ul>

  </li>

<div id="board"></div>
  
<div id="gamechart"></div>
  

</div>
