<% provide(:title, 'Tok Replay') %>


<input type="button" value="Prev" id="btnPrev"  onclick="prev();"/> 
    <span id='courante'></span>/<span id='total'></span>  
<input type="button" value="Next" id="btnNext"  onclick="next();"/> 
  <li>

  <ul class="matches">
    <% #= render @matches %>
  </ul>

  </li>

<div id="board"></div>
  
<div id="gamechart"></div>
  

